name: emby

on:
  schedule:
    # - cron: "0 2,8,14,20 * * *"
    - cron: "*/5 * * * *"
  workflow_dispatch:
  watch:
    # types: started

jobs:
  build:
    concurrency: emby-singleton
    runs-on: ubuntu-latest
    steps:
      - name: rclone-install
        run: |
          # 安装 rclone
          curl -O https://downloads.rclone.org/rclone-current-linux-amd64.zip
          # curl -O https://beta.rclone.org/rclone-beta-latest-linux-amd64.zip
          unzip rclone-*-amd64.zip
          cd rclone-*-linux-amd64
          sudo mv rclone /usr/bin
          sudo chmod +x /usr/bin/rclone
          # sudo apt-get install rclone
      - name: rclone-config
        env:
          RCLONE_CONFIG: ${{ secrets.RCLONE }}
        run: |
          # 写配置文件
          mkdir -p ~/.config/rclone/
          cat << EOF > ~/.config/rclone/rclone.conf
          $RCLONE_CONFIG
          EOF
      - name: rclone-run
        run: |
          sudo apt-get install fuse3
          # if rclone lsf onedrive:self-hosted/emby/config/ --files-only | grep -q "system.xml"; then
          #   if ! rclone delete onedrive:self-hosted/emby/config/system.xml -vv; then
          #     echo "[WARNING] Failed to delete system.xml, skipping" >&2
          #   fi
          # fi
          # sudo rclone copy onedrive:self-hosted/emby/system.xml onedrive:self-hosted/emby/config/ --ignore-errors -vv
          # sudo mkdir /onedrive
          # sudo nohup rclone mount onedrive: /onedrive --allow-non-empty --no-gzip-encoding --umask 000 --allow-other --attr-timeout 10m --vfs-cache-mode full --vfs-cache-max-age 5m --vfs-read-chunk-size-limit 10G --buffer-size 100M --vfs-cache-max-size 50G &
          sudo mkdir /dropbox
          sudo nohup rclone mount dropbox: /dropbox --allow-non-empty --no-gzip-encoding --umask 000 --allow-other --attr-timeout 10m --vfs-cache-mode full --vfs-cache-max-age 5m --vfs-read-chunk-size-limit 10G --buffer-size 100M --vfs-cache-max-size 50G &
          # sudo rclone sync dropbox:self-hosted/emby /var/lib/emby -vv
          echo "==========onedrive==========="
          rclone lsf onedrive:
          echo "==========dropbox==========="
          rclone lsf dropbox:
      - name: Run openlist container
        run: |
          sudo docker run -d --restart=unless-stopped -v /dropbox/self-hosted/openlist/data:/opt/openlist/data -p 5244:5244 -e PUID=0 -e PGID=0 -e UMASK=022 --name="openlist" openlistteam/openlist:latest
          sudo sleep 1m     
          docker ps

          if rclone lsf openlist:aliyundriveCrypt/self-hosted/emby/config/ --files-only | grep -q "system.xml"; then
            if ! rclone delete openlist:aliyundriveCrypt/self-hosted/emby/config/system.xml -vv; then
              echo "[WARNING] Failed to delete system.xml, skipping" >&2
            fi
          fi
          sudo rclone copy openlist:aliyundriveCrypt/self-hosted/emby/system.xml openlist:aliyundriveCrypt/self-hosted/emby/config/ --ignore-errors -vv

          sudo mkdir -p /openlist
          sudo nohup rclone mount openlist: /openlist --allow-non-empty --no-gzip-encoding --umask 000 --allow-other --attr-timeout 10m --vfs-cache-mode full --vfs-cache-max-age 5m --vfs-read-chunk-size-limit 10G --buffer-size 100M --vfs-cache-max-size 10G &
      - name: install cloudflared
        run: |
          sudo mkdir ~/.cloudflared/
          sudo rclone copy dropbox:self-hosted/.cloudflared ~/.cloudflared -vv
          wget -q https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared-linux-amd64.deb
      - name: Check if the tunnel is running
        env:
          TUNNEL_NAME: "e" # 替换为你的隧道名称
        run: |
          # 获取隧道列表
          OUTPUT=$(cloudflared tunnel list)
          
          # 查找目标隧道的行
          TUNNEL_LINE=$(echo "$OUTPUT" | grep -w "$TUNNEL_NAME")
          if [ -z "$TUNNEL_LINE" ]; then
            echo "The tunnel '$TUNNEL_NAME' does not exist. Proceeding."
            exit 31
          fi
  
          # 提取 CONNECTIONS 列并检查是否为空
          CONNECTIONS=$(echo "$TUNNEL_LINE" | awk '{if (NF>=4) print $4; else print "-"}')
          if [ "$CONNECTIONS" == "-" ]; then
            echo "The tunnel '$TUNNEL_NAME' exists but has no active connections. Proceeding."
          else
            echo "The tunnel '$TUNNEL_NAME' is running with connections: $CONNECTIONS. Stopping actions."
            exit 0
          fi
      - name: install emby
        run: |
          curl -L -o emby-server.deb $(curl -s https://api.github.com/repos/MediaBrowser/Emby.Releases/releases/latest | grep -oP '"browser_download_url": "\K(.*emby-server-deb.*amd64.deb)(?=")')
          sudo dpkg -i emby-server.deb
          
          while true; do
              if [ -d /var/lib/emby ]; then
                  echo "Directory exists, deleting..."
                  if sudo rm -rf /var/lib/emby; then
                      echo "Directory deleted successfully"
                      break
                  else
                      echo "Failed to delete directory, retrying..."
                  fi
              else
                  echo "Directory does not exist"
                  break
              fi
          done
          
          echo "==========/openlist/aliyundriveCrypt/self-hosted/emby==========="
          sudo ls /openlist/aliyundriveCrypt/self-hosted/emby
          sudo ln -s /openlist/aliyundriveCrypt/self-hosted/emby /var/lib/emby
          echo "==========/var/lib/emby==========="
          sudo ls /var/lib/emby
          # sudo chown -R emby:emby /var/lib/emby
          # sudo chmod -R 755 /var/lib/emby
      - name: run emby
        run: |
          sudo nohup /opt/emby-server/bin/emby-server &
      - name: run cloudflared
        run: |
          cloudflared tunnel route dns e e.'${{ secrets.VD }}'.eu.org
          nohup cloudflared tunnel run --url http://127.0.0.1:8096 e &
      - name: sleep
        run: |
          sudo sleep 340m && curl -X POST -H "X-Emby-Token: c33a66119cd94788882617a5bde7f962" http://127.0.0.1:8096/System/Shutdown
          sleep 3m
