name: icloud-photos-downloader

on:
  schedule:
    - cron: '0 18 * * *'
  workflow_dispatch:
  watch:
    types: started

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: rclone-install
        run: |
          # 安装 rclone
          # curl -O https://downloads.rclone.org/rclone-current-linux-amd64.zip
          # curl -O https://beta.rclone.org/rclone-beta-latest-linux-amd64.zip
          # unzip rclone-*-amd64.zip
          # cd rclone-*-linux-amd64
          # sudo mv rclone /usr/bin
          # sudo chmod +x /usr/bin/rclone
          sudo apt-get install rclone
      - name: rclone-config
        env:
          RCLONE_CONFIG: ${{ secrets.RCLONE }}
        run: |
          # 写配置文件
          mkdir -p ~/.config/rclone/
          cat << EOF > ~/.config/rclone/rclone.conf
          $RCLONE_CONFIG
          EOF
      - name: rclone-run
        run: |
          sudo apt-get install fuse3
          sudo mkdir /dropbox
          sudo nohup rclone mount dropbox: /dropbox --allow-non-empty --no-gzip-encoding --umask 000 --allow-other --attr-timeout 10m --vfs-cache-mode full --vfs-cache-max-age 5m --vfs-read-chunk-size-limit 10G --buffer-size 100M --vfs-cache-max-size 10G &
          echo "==========onedrive==========="
          rclone lsf onedrive:
          echo "==========dropbox==========="
          rclone lsf dropbox:
      - name: Run openlist container
        run: |
          docker run -d --restart=unless-stopped -v /dropbox/self-hosted/openlist/data:/opt/openlist/data -p 5244:5244 -e PUID=0 -e PGID=0 -e UMASK=022 --name="openlist" openlistteam/openlist:latest
          sudo sleep 1m     
          docker ps
          sudo mkdir -p /openlist
          sudo nohup rclone mount openlist: /openlist --allow-non-empty --no-gzip-encoding --umask 000 --allow-other --attr-timeout 10m --vfs-cache-mode full --vfs-cache-max-age 5m --vfs-read-chunk-size-limit 10G --buffer-size 100M --vfs-cache-max-size 10G &
      - name: run icloud-photos-downloader
        run: |
          sudo apt-get update
          pip install icloudpd
          icloudpd --list-libraries --cookie-directory /dropbox/self-hosted/iCloudPhotosCookie --username ${{ secrets.APPLEID }} --password ${{ secrets.APPLEPASSWORD }} --auto-delete      
          icloudpd --library SharedSync-6D80D39D-BDF2-49D1-9E6C-1EE9B681177F --directory /openlist/123panCrypt1/iCloudPhotosShared --cookie-directory /dropbox/self-hosted/iCloudPhotosCookie --username ${{ secrets.APPLEID }} --password ${{ secrets.APPLEPASSWORD }} --auto-delete  
          icloudpd --library PrimarySync --directory /openlist/123panCrypt1/iCloudPhotosPersonal --cookie-directory /dropbox/self-hosted/iCloudPhotosCookie --username ${{ secrets.APPLEID }} --password ${{ secrets.APPLEPASSWORD }} --auto-delete  
          echo "github icloud-photos-downloader 任务执行结束"
          curl -s -X POST https://api.telegram.org/bot'${{ secrets.TELEGRAM_BOT_TOKEN }}'/sendMessage -d chat_id='${{ secrets.TELEGRAM_CHAT_ID }}' -d text="github icloud-photos-downloader 任务执行结束"
