name: "rclone"

on:
  # schedule:
    # - cron: "0 2,8,14,20 * * *"
    # - cron: "*/5 * * * *"
  workflow_dispatch:
  # watch:
    # types: started

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: rclone-install
        run: |
          # 安装 rclone
          # curl -O https://downloads.rclone.org/rclone-current-linux-amd64.zip
          curl -O https://beta.rclone.org/rclone-beta-latest-linux-amd64.zip
          unzip rclone-*-amd64.zip
          cd rclone-*-linux-amd64
          sudo mv rclone /usr/bin
          sudo chmod +x /usr/bin/rclone
          # sudo apt-get install rclone
      - name: rclone-config
        env:
          RCLONE_CONFIG: ${{ secrets.RCLONE }}
        run: |
          # 写配置文件
          mkdir -p ~/.config/rclone/
          cat << EOF > ~/.config/rclone/rclone.conf
          $RCLONE_CONFIG
          EOF
      - name: rclone-run
        run: |
          echo "==========dropbox==========="
          rclone lsf dropbox:
          echo "==========onedrive==========="
          rclone lsf onedrive:

          rclone sync dropbox:self-hosted onedrive:self-hosted -vv
