name: sub-store

on:
  schedule:
    # - cron: "0 2,8,14,20 * * *"
    - cron: "*/5 * * * *"
  workflow_dispatch:
  watch:
    # types: started

jobs:
  build:
    concurrency: sub-store-singleton
    runs-on: ubuntu-latest
    steps:
      - name: rclone-install
        run: |
          # 安装 rclone
          curl -O https://downloads.rclone.org/rclone-current-linux-amd64.zip
          # curl -O https://beta.rclone.org/rclone-beta-latest-linux-amd64.zip
          unzip rclone-*-amd64.zip
          cd rclone-*-linux-amd64
          sudo mv rclone /usr/bin
          sudo chmod +x /usr/bin/rclone
          # sudo apt-get install rclone
      - name: rclone-config
        env:
          RCLONE_CONFIG: ${{ secrets.RCLONE }}
        run: |
          # 写配置文件
          mkdir -p ~/.config/rclone/
          cat << EOF > ~/.config/rclone/rclone.conf
          $RCLONE_CONFIG
          EOF
      - name: rclone-run
        run: |
          sudo apt-get install fuse3
          sudo mkdir /dropbox
          sudo nohup rclone mount dropbox: /dropbox --vfs-cache-mode full &
          # mkdir -p ~/sub-store
          # rclone copy onedrive:self-hosted/sub-store ~/sub-store
          echo "==========onedrive==========="
          rclone lsf onedrive:
          echo "==========dropbox==========="
          rclone lsf dropbox:
      - name: Check if the tunnel is running
        env:
          TUNNEL_NAME: "sub-store" # 替换为你的隧道名称
        run: |
          wget -q https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared-linux-amd64.deb
          sudo mkdir ~/.cloudflared/
          sudo rclone copy dropbox:self-hosted/.cloudflared ~/.cloudflared -vv
          
          cloudflared tunnel list
          # 获取隧道列表
          OUTPUT=$(cloudflared tunnel list)      
          # 查找目标隧道的行
          TUNNEL_LINE=$(echo "$OUTPUT" | grep -w "$TUNNEL_NAME")
          if [ -z "$TUNNEL_LINE" ]; then
            echo "The tunnel '$TUNNEL_NAME' does not exist. Proceeding."
            exit 0
          fi
  
          # 提取 CONNECTIONS 列并检查是否为空
          CONNECTIONS=$(echo "$TUNNEL_LINE" | awk '{if (NF>=4) print $4; else print "-"}')
          if [ "$CONNECTIONS" == "-" ]; then
            echo "The tunnel '$TUNNEL_NAME' exists but has no active connections. Proceeding."
          else
            echo "The tunnel '$TUNNEL_NAME' is running with connections: $CONNECTIONS. Stopping actions."
            exit 0
          fi
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2
      - name: Run sub-store container
        run: docker run -it -d --restart=always -e "SUB_STORE_BACKEND_SYNC_CRON=*/1800 * * * *" -e SUB_STORE_FRONTEND_BACKEND_PATH=/65jwaf2357gsnret4uods -p 9876:9876 -p 127.0.0.1:3001:3001 -v /dropbox/self-hosted/sub-store:/opt/app/data --name sub-store xream/sub-store:http-meta
      - name: Verify container is running
        run: docker ps    
      - name: run cloudflared
        run: |
          cloudflared tunnel route dns sub-store sub-store.'${{ secrets.VD }}'.eu.org
          nohup cloudflared tunnel run --url http://127.0.0.1:3001 sub-store &
      - name: sleep
        run: |
          sudo sleep 350m          
      - name: Stop
        run: |
          docker stop sub-store
          # sleep 1m 
          # rclone sync ~/sub-store onedrive:self-hosted/sub-store
          sleep 1m 
          echo "Stopping GitHub Actions"
